<div class="jumbotron">
  <p>
    <%= link_to 'http://studentsonrails.tumblr.com' do %>
      <%= image_tag("sor_banner.png", width: "100%") %></p>
    <% end %>
</div>

<div class="page-header">
  <h2>
  	<%= link_to "Locations", locations_path%>
  </h2>  
</div>


<%= form_tag("/search", method: "get") do %>
	<div class="form-group">
  		<%= label_tag(:q, "Search for:") %>
  		<%= text_field_tag(:q, nil,  class:"form-control") %>

	</div>
	<div class="form-group">
	  	<%= submit_tag("Search", class: "btn btn-default") %>
	</div>
<% end %>
